.loader {
  color: red;
}
.btn {
  margin: 0 2px;
}

.page_bg {
  background-color: rgba(81, 82, 81, 0.692);
}

.menu {
  margin: auto;
  width: 85%;
  /* border: 3px solid #73ad21; */
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
